body {
  display: flex;
  background-color: #444;
  padding: 50px;
  flex-direction: column;
  align-items: center;
}

.Main {
  display: flex;
  width: 1100px;
}

.tablet {
  display: flex;
  padding: 50px;
  background-color: #111;
  border-radius: 15px;
  box-shadow: 1px 19px 83px 7px rgba(0,0,0,0.75);
}

.R_sidebox {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 600px;
  width: 250px;
  box-shadow: 1px 19px 83px 7px rgba(0,0,0,0.75);
  padding: 50px;
}

.sidebox_banner {
  height: 75px;
  background-color: rgb(165, 18, 18);
  width: 100%;
}

.title {
  color: white;
  text-align: center;
  line-height: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
}

.info_line {
  height: 75px;
  border-bottom: 2px solid #999;
  text-align: center;
  line-height: 75px;
  font-size: 1.5em;
}

.info_line_bottom {
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 1.5em;

}


